.game {
  display: flex;
  flex-direction: column;
}
.square {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: -2px;
  font-size: 50px; 
  border: 2px solid black;
  text-align: center;
  vertical-align: top; /* stops button from shifting vertically when adding text */
}

.row {
  display: block;
  float: left;
  width: 100%;
  height: 200px;
  margin: -4px;
  padding: 0px;
}

.clear {
  margin-bottom: 20px;
  width: 10%;
}

.board {
  display: block;
}

#result .winner {
  display: none;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  border: 2px solid black;
}